<a href="https://colab.research.google.com/github/ABHAY7238/Road-to-Data-Scientist-/blob/main/catBoost_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

catBoost algorithm is a popular machine learning algorithm that is used for classification and regression tasks.

In [ ]:
!pip install catboost -q

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder , StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , confusion_matrix ,classification_report
from catboost import CatBoostClassifier

In [ ]:
#load the dataset
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [ ]:
#since deck has very large no. of null values of we have to remove deck column
df.drop('deck',axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [ ]:
#now impute the age column with knn imputer
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors = 5)
df['age'] = imputer.fit_transform(df[['age']])
#now impute the embark and embarktown with LabelEncoder
le = LabelEncoder()
df['embark_town'] = le.fit_transform(df['embark_town'])
df['embarked'] = le.fit_transform(df['embarked'])

In [ ]:
#convert each category column into category
categorical_cols = df.select_dtypes(include=['object' , 'category']).columns
#add this a new column in a dataframe
df[categorical_cols] = df[categorical_cols].astype('category')

In [ ]:
#split the data into X and y
X = df.drop('survived',axis=1)
y = df['survived']

#split the data into train and test
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
categorical_features_indices = X.select_dtypes(include=['category', 'object', 'bool']).columns
model = CatBoostClassifier(cat_features=list(categorical_features_indices), verbose=0)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [ ]:
#evaluate the model
print('accuracy_score\n',accuracy_score(y_test,y_pred))
print('confusion_matrix\n',confusion_matrix(y_test,y_pred))
print('classification_report\n',classification_report(y_test,y_pred))

accuracy_score
 1.0
confusion_matrix
 [[105   0]
 [  0  74]]
classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       105
           1       1.00      1.00      1.00        74

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179