<a href="https://colab.research.google.com/github/ABHAY7238/Road-to-Data-Scientist-/blob/main/imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Basic Imputation method - 1

**'Five important ways of imputing missing values'**<br>
1.Simple imputer = Replacing missing values with mean , median and mode according to  data structure .<br>
2. K-Nearest Neighbors (KNN) = This algorithm can be used to impute missing values in a dataset. It works by finding the k-nearest neighbors.<br>
3. Iterative Imputer = This algorithm can be used to impute missing values in a dataset. It works by iteratively imputing missing values . <br>
4. MICE = This algorithm can be used to impute missing values in a dataset.<br>
5.Regression Imputer = This algorithm can be used to impute missing values in a dataset. It works by imputing missing values using a regression model.<br>
6.Time Series Imputer = This algorithm can be used to impute missing values in a dataset. It works by imputing missing values using a time series model.<br>
7. Deep Learning Imputer = This algorithm can be used to impute missing values in a dataset.<br>

In [148]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [149]:
#load the dataset
df  = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [150]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [151]:
#drop the deck column
df.drop('deck',axis=1,inplace=True)
#impute the null values of the age , embarked , embark_town
df['age'].fillna(df['age'].mean(),inplace=True)
df['embarked'].fillna(df['embarked'].mode()[0],inplace=True)
df['embark_town'].fillna(df['embark_town'].mode()[0],inplace=True)

In [152]:
df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

##Random Forest algorithm

In [153]:
data = sns.load_dataset('titanic')
data.head()

#check the null values of the dataset
data.isnull().sum().sort_values(ascending=False)


#drop the deck column
data.drop('deck',axis=1,inplace=True)

In [154]:
#import the pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score , r2_score , mean_absolute_error , mean_squared_error ,mean_absolute_percentage_error
from sklearn.impute import SimpleImputer



#load the dataset
df = sns.load_dataset('titanic')
df.head()

#drop the deck column
df.drop('deck',axis=1,inplace=True)

#check for the null values
df.isnull().sum().sort_values(ascending=False)

age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
parch            0
sibsp            0
class            0
fare             0
who              0
adult_male       0
alive            0
alone            0
dtype: int64

In [155]:
#encode the data using label encoding
from sklearn.preprocessing import LabelEncoder


#columns to encode
columns_to_encode = ['sex','embarked','embark_town' , 'who' , 'alive' , 'adult_male' , 'alone' , 'class']

#create a dictionary to encode the each columns
label_encoder = {}

#create a loop to apply label encoder for each columns
for column in columns_to_encode:
  label_encoder[column] = LabelEncoder()

  #fit and transform the data for each column
  df[column] = label_encoder[column].fit_transform(df[column])

  # The following line was incorrectly re-fitting the encoder on numerical data,
  # causing it to lose the mapping to original string categories.
  # label_encoder[column] = label_encoder[column].fit(df[column])

#check the head of the dataset
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,2,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,0,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,2,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,2,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,2,0,1

#now we have to first impute the missing values of the age and then we have to predict the 'embark' , 'embark_town'

In [156]:
#split the dataset having missing values and without missing values
df_missing_age = df[df['age'].isnull()]
#now dataset without missing values
df_without_missing_age = df[df['age'].notnull()]

In [157]:
#lets see the shape of the dataset
print('The shape of the dataset : ' , df.shape)
print('The shape of the dataset having missing values : ' , df_missing_age.shape)
print('The shape of the dataset without missing values : ' , df_without_missing_age.shape)

The shape of the dataset :  (891, 14)
The shape of the dataset having missing values :  (177, 14)
The shape of the dataset without missing values :  (714, 14)

In [158]:
#data with missing values
df_missing_age.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
5,0,3,1,NaN,0,0,8.4583,1,2,1,1,1,0,1
17,1,2,1,NaN,0,0,13.0000,2,1,1,1,2,1,1
19,1,3,0,NaN,0,0,7.2250,0,2,2,0,0,1,1
26,0,3,1,NaN,0,0,7.2250,0,2,1,1,0,0,1
28,1,3,0,NaN,0,0,7.8792,1,2,2,0,1,1,1

In [159]:
#data without missing values
df_without_missing_age.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,2,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,0,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,2,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,2,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,2,0,1

In [160]:
#Regression Imputation

# Ensure df_without_missing_age is up-to-date with the encoded df
df_missing_age = df[df['age'].isnull()]
df_without_missing_age = df[df['age'].notnull()]

#split the data into X and y and we will only take columns with no missing values
X = df_without_missing_age.drop('age',axis=1)
y = df_without_missing_age['age']

#split the data into train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

#random forest imputation
rf_model = RandomForestRegressor(n_estimators = 100,random_state = 42)
rf_model.fit(X_train,y_train)

#EVALUATE THE MODEL
y_pred = rf_model.predict(X_test)

In [161]:
#print the results
print('The accuracy of the model is : ' , r2_score(y_test,y_pred))
print('The mean absolute error of the model is : ' , mean_absolute_error(y_test,y_pred))
print('The mean squared error of the model is : ' , mean_squared_error(y_test,y_pred))
print('MAPE for random forest Imputation : ' ,mean_absolute_percentage_error(y_test , y_pred))

The accuracy of the model is :  0.33769388288226154
The mean absolute error of the model is :  8.666661815622195
The mean squared error of the model is :  122.79433625923292
MAPE for random forest Imputation :  0.40839466096086574

In [162]:
#check the number of missing values with each column
df_missing_age.isnull().sum().sort_values(ascending=False)

age            177
survived         0
pclass           0
sex              0
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

In [163]:
#remove warnings
import warnings
warnings.filterwarnings('ignore')


#predict missing values
y_pred = rf_model.predict(df_missing_age.drop('age',axis=1))

#replace the missing values with the predicted values
df_missing_age['age'] = y_pred

#check the missing values
df_missing_age.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [164]:
#concatenate the two dataframes
df_complete = pd.concat([df_without_missing_age,df_missing_age])


#now print the shape of the complete dataset
print('The shape of the complete dataset is : ' , df_complete.shape)


#check the first five rows of the complete dataset
df_complete.head()

The shape of the complete dataset is :  (891, 14)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,1,2,0,0
1,1,1,0,38.0,1,0,71.2833,0,0,2,0,0,1,0
2,1,3,0,26.0,0,0,7.9250,2,2,2,0,2,1,1
3,1,1,0,35.0,1,0,53.1000,2,0,2,0,2,1,0
4,0,3,1,35.0,0,0,8.0500,2,2,1,1,2,0,1

In [165]:
#now we have to inverse transform the columns of the dataset
for col in columns_to_encode:
  le = label_encoder[col]

  #inverse transform the data
  df_complete[col] = le.inverse_transform(df_complete[col])


#check the head of the complete data
df_complete.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [167]:
#now check the shape of the dataset
df_complete.shape

print('The shape of the inverse transformed dataset' , df_complete.shape)

The shape of the inverse transformed dataset (891, 14)