<a href="https://colab.research.google.com/github/ABHAY7238/Road-to-Data-Scientist-/blob/main/impurities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Entropy**

In [83]:
import math

In [84]:
#now make the data set
#suppose we have the dataset of two subsets a and b and both have 10 elements 4 of them in class A and 6 in class B
n_a = 4
n_b = 6
total = n_a + n_b

In [85]:
'now lets calculate the proportions of each class'
p_a = n_a/total
p_b = n_b/total
'now print the prporstions'
print(f'proporstions of a = ',p_a)
print(f'porporstions of b = ',p_b)

proporstions of a =  0.4
porporstions of b =  0.6

In [86]:
'gini impurity'
gini = 1 - (p_a**2 + p_b**2)
print(f'gini_impurity = ',gini)

gini_impurity =  0.48

*Information gain impurities* <br>
Information gain is the difference between the impurity of the starting node and the weighted average of the impurity of the child nodes.MM

In [87]:
'assuming a split on some features divides the dataset into two subsets'
'now lets calculate the impurity of each subset'
'subset 1 : 2 elements in class A and 3 in class B'
'subset 2 : 2 elements in class A and 3 in class B'
n_1_A , n_1_B = 2,3
n_2_A , n_2_B = 2,3
total_1 = n_1_A + n_1_B
total_2 = n_2_A + n_2_B
'now calculate the proportions of each class'
p_1_A = n_1_A/total_1
p_1_B = n_1_B/total_1
'now calculate the entropy of 1st subset'
entropy_1 = -p_1_A*math.log2(p_1_A) - p_1_B*math.log2(p_1_B)
'now calculate the proportions of each class'
p_2_A = n_2_A/total_2
p_2_B = n_2_B/total_2
'now calculate the entropy of 2nd subset'
entropy_2 = -p_2_A*math.log2(p_2_A) - p_2_B*math.log2(p_2_B)
'now calculate the information gain'
info_gain = gini - (total_1/total)*entropy_1 - (total_2/total)*entropy_2
print(f'information gain = ',info_gain)

information gain =  -0.4909505944546686

**Decision Tree examples**

In [88]:
#import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , confusion_matrix , classification_report
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [89]:
#load the dataset
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [91]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [92]:
#drop the deck column from the dataset
df.drop('deck',axis=1,inplace=True)

In [93]:
#now impute the null values of 'age' and 'fare' by using SimpleImputer
imputer = SimpleImputer(strategy='median')
df['age'] = imputer.fit_transform(df[['age']])
df['fare'] = imputer.fit_transform(df[['fare']])

In [94]:
#now impute the embarked and embarked_town by using mode
imputer = SimpleImputer(strategy = 'most_frequent')
df[['embarked']] = imputer.fit_transform(df[['embarked']])
df[['embark_town']] = imputer.fit_transform(df[['embark_town']])

In [95]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [98]:
#now enode the categorical and object data using the labelEncoder
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['embarked'] = le.fit_transform(df['embarked'])
df['embark_town'] = le.fit_transform(df['embark_town'])
df['who'] = le.fit_transform(df['who'])
df['alive'] = le.fit_transform(df['alive'])
df['class'] = le.fit_transform(df['class'])

In [99]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [100]:
#split the data into x and y
x = df.drop('survived',axis=1)
y = df['survived']

In [101]:
#split the data into train and test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [102]:
#now predict the model and train the model
model = DecisionTreeClassifier()
model.fit(x_train,y_train)
#predict the model
y_pred = model.predict(x_test)

In [106]:
#evaluate the model
accuracy = accuracy_score(y_test,y_pred)
print(f'accuracy_score = ',accuracy_score(y_test,y_pred))
print(f'confusion_matrix =',confusion_matrix(y_test,y_pred))
print(f'classification_report =',classification_report(y_test,y_pred))

accuracy_score =  1.0
confusion_matrix = [[105   0]
 [  0  74]]
classification_report =               precision    recall  f1-score   support

           0       1.00      1.00      1.00       105
           1       1.00      1.00      1.00        74

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

In [107]:
#save the decision tree classifier
import pickle
with open('decision_tree_classifier.pkl','wb') as f:
    pickle.dump(model,f)